.page {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
}

.sword_art {
    /* position: absolute;
    left: 45vw;
    top: 10vh; */
    display: inline-block;
    margin-top: 14vh;
    height: 25vh;
    width: 23vw;
    text-align: center;
    border: solid black;
    background-color: rgb(190, 253, 190);
}

.info {
    display: inline-block;
    margin-top: 5vh;
    height: 7vh;
    width: 34vw;
    border: solid black;
    background-color: rgb(255, 114, 255);
    font-weight: normal;
    font-family: Arial;
    font-size: 35px;
}

.bar_left {
    display: inline-block;
    margin-top: 7vh;
    height: 10vh;
    width: 60vw;
    border: solid black;
    background-color:  rgb(255, 149, 0);
}

.bar_right {
    display: inline-block;
    position: relative;
    left: -6px;
    margin-top: 7vh;
    height: 10vh;
    width: 20vw;
    border: solid black;
    background-color:  rgb(255, 255, 0);
}