<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DoingQuest</title>
    <link rel="stylesheet" href="DoingQuest.css" media="screen">
    <link rel="stylesheet" href="shared.css">
</head>

<body class="body">
    <div class="page">
        <!-- The title -->
        <div class="sword_art">
            <h1> COOL SWORD ART
            </h1>
        </div>

    </div>
    <div class="page">
        <div class="info">
            Doing Quest
        </div>
    </div>
    <div class="page">
        <div class="bar_left"></div>
        <div class="bar_right"></div>
    </div>
</body>

</html>