.page {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
}

.background{
    background-image: url("../img/playfield.jpg");
    /* Adjust the size of the background image. */
    background-size: cover;
    /* Set the position of the background image. */
    background-position: center;
    /* Repeat or not repeat the background image. */
    background-repeat: no-repeat;
    /* Set the width and height of the element. */
    width: 100vw;
    height: 100vh;
}

.sword_art {
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 14vh;
    height: 25vh;
    width: 23vw;
    text-align: center;
    border: solid black;
    background-color: rgb(190, 253, 190);
}

.info {
    display: inline-block;
    margin-top: 5vh;
    height: 7vh;
    width: 34vw;
    border: solid black;
    background-color: rgb(255, 114, 255);
    font-weight: normal;
    font-family: Arial;
    font-size: 35px;
}

@keyframes extendBar {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}

.bar_animation {
    display: inline-block;
    position: absolute;
    left: 25vw;
    margin-top: 17vh;
    height: 10vh;
    animation: extendBar 2s linear forwards;
    z-index: 1;
    border: solid black;
    background-color: rgb(255, 149, 0);
}

.bar {
    display: inline-block;
    position: relative;
    left: 25vw;
    margin-top: 17vh;
    height: 10vh;
    width: 50%;
    border: solid black;
    background-color: rgb(255, 255, 0);
}