<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">

<head>
  <meta charset="utf-8">
  <title>Guild</title>
  <link rel="stylesheet" href="Guild.css" media="screen">
</head>

<body class="body">
  <!-- The title -->
  <div class="Guild_title_block">
    <h1 class="GuildManager_text">The Thieves Guild</h1>
  </div>

  <div class="page">
    <!-- the grid block -->
    <div class="grid-container">

      <div class="grid-item">
        <div class="grid-title">
          <div>Heroes</div>
        </div>
        <button class="grid-button">Hire</button>
        <ul class="scrollable-list">
          <li class="elements-in-scrollable">John</li>
          <li class="elements-in-scrollable">Basquiat</li>
          <li class="elements-in-scrollable">Gandalf</li>
          <li class="elements-in-scrollable">Conan</li>
          <li class="elements-in-scrollable">Link 5</li>
        </ul>
      </div>

      <div class="grid-item">
        <div class="grid-title">
          <div>Parties</div>
        </div>
        <button class="grid-button">Create</button>
        <ul class="scrollable-list">
          <li class="elements-in-scrollable">Thieves</li>
          <li class="elements-in-scrollable">Robbers</li>
          <li class="elements-in-scrollable">Chill Dudes</li>
        </ul>
      </div>

      <div class="grid-item">
        <div class="grid-title">
          <div>Quests</div>
        </div>
        <button class="grid-button">Buy</button>
        <ul class="scrollable-list">
          <li class="elements-in-scrollable">The Woods</li>
          <li class="elements-in-scrollable">The Dragon</li>
          <li class="elements-in-scrollable">The Wave</li>
          <li class="elements-in-scrollable">The Storm</li>
        </ul>
      </div>
    </div>

    <!-- The detail block -->
    <div class="details">
    </div>
  </div>

</body>

</html>