<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Guild</title>
  <link rel="stylesheet" href="Guild.css" media="screen">
  <link rel="stylesheet" href="shared.css">
</head>

<body class="body">
  <!-- The title -->
  <div class="guild_title_block">
    <h1 class="title_text">The Thieves Guild</h1>
  </div>

    <!-- the grid block -->
    <span class="grid-container">

      <div class="grid-item">
        <div class="grid-title">
          <div>Heroes</div>
        </div>
        <button class="grid-button">Hire</button>
        <ul class="scrollable-list">
          <li class="elements-in-scrollable">John</li>
          <li class="elements-in-scrollable">Basquiat</li>
          <li class="elements-in-scrollable">Gandalf</li>
          <li class="elements-in-scrollable">Conan</li>
          <li class="elements-in-scrollable">Link 5</li>
        </ul>
      </div>

      <div class="grid-item">
        <div class="grid-title">
          <div>Parties</div>
        </div>
        <button class="grid-button">Create</button>
        <ul class="scrollable-list">
          <li class="elements-in-scrollable">Thieves</li>
          <li class="elements-in-scrollable">Robbers</li>
          <li class="elements-in-scrollable">Chill Dudes</li>
        </ul>
      </div>

      <div class="grid-item">
        <div class="grid-title">
          <div>Quests</div>
        </div>
        <button class="grid-button">Buy</button>
        <ul class="scrollable-list">
          <li class="elements-in-scrollable">The Woods</li>
          <li class="elements-in-scrollable">The Dragon</li>
          <li class="elements-in-scrollable">The Wave</li>
          <li class="elements-in-scrollable">The Storm</li>
        </ul>
      </div> 
    </span>

    <!-- The detail block -->
    <span class="details">

      <div class="guild_status">
        Guild Stats:
        <br> Funds: 30
        <br> Heroes: 4
        <br> Parties: 3
        <br> Quests: 2
        <br> Quests Completed: 4
      </div>

      <!-- HERO DETAIL BOARD: display default set as "none"-->
      <div class="hero_detail">
        <div id="hero_name">Hero Name</div>
        <div id="hero_param">
          STR: 9
          <br> DEX: 32
          <br> CON: 20
          <br> WIS: 34
          <br> INT: 12
          <br> CHA: 7
          <br> INT: 12
          <br> CHA: 7
        </div>
        <div id="hero_health">
          Health:
          <div style="text-align: center;">3</div>
        </div>
        <div id="hero_exp">
          EXP:
          <div style="text-align: center;">20</div>
        </div>
        <button id="hero_heal">
          HEAL
        </button>
        <button id="hero_fire">
          FIRE
        </button>
      </div>
      
    </span>

  

</body>

</html>