<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>GuildManager</title>
  <link rel="stylesheet" href="GuildManager.css" media="screen">
  <link rel="stylesheet" href="shared.css">
</head>

<body class="body">
  <!-- The title -->
  <div class="guildmanager_title">
    <h1 class="title_text">GUILD MANAGER
    </h1>
  </div>

  <div class="select_guild">
    <h2 class="subtitle_text">
      Select A Guild
    </h2>
  </div>

  <div class="guild_container">
    <button class="guild-button">Awesome Guild</button>
    <button class="guild-button">Cool Guys</button>
    <button class="guild-button">The Thieves Guild</button>
    <button class="guild-button">Awesome Guild</button>
    <button class="guild-button">Awesome Guild</button>
    <button class="guild-button">Awesome Guild</button>
    <button class="guild-button">Awesome Guild</button>
    <button class="guild-button">Awesome Guild</button>
    <button class="guild-button">Awesome Guild</button>
  </div>

  <div class="new_guild">

    <form action="/action_page.php">
      <label id="new_guild_text" for="new_guild_name">New Guild:</label>
      <span>
        <input name="new_guild_name" id="new_guild_text" type="text" placeholder="New Guild Name" />
      </span>
    </form>
  </div>


</body>

</html>