.guild_title_block {
  display: inline-block;
  width: 52vw;
  height: 10vh;
  margin-left: 2vw;
  margin-top: 5vh;
  padding-left: 10px;
  border: 1.5px solid black;
  background-color: rgb(190, 253, 190);
}

.title_text {
  position: relative;
  margin-top: 1.5%;
  font-weight: normal;
  font-family: Arial;
  font-size: 50px;
  color: rgb(109, 78, 188);
}

.grid-container {
  position: absolute;
  top: 25vh;
  left: 1vw;
  height: 70vh;
  display: inline-grid;
  width: 64vw;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  background-color: transparent;
}

.grid-item {
  background-color: rgb(255, 149, 0);
  border: 1.5px solid black;
  padding: 5px;
  font-size: 36px;
  height: 100%;
}

.grid-title {
  display: flex;
  font-size: 1em;
  height: 10%;
  margin-right: 15%;
  padding-left: 5%;
  border: 1.5px solid black;
  align-items: center;
  background-color: rgb(255, 255, 0);
}

.grid-button {
  position: relative;
  font-size: 1em;
  height: 8%;
  width: 65%;
  margin-top: 5%;
  margin-left: 2%;
  background-color: rgb(255, 114, 255);
}

.guild_scrollable-list {
  position: relative;
  height: 66%;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid black;
  background-color: rgb(255, 229, 153);
  margin-top: 10%;
  margin-left: 2%;
  margin-right: 4%;
  margin-bottom: 4%;
  padding-left: 3%;
  padding-right: 3%;
}

.elements-in-scrollable {
  position: relative;
  padding-left: 0;
  font-size: 0.8em;
  background-color: transparent;
  width: 100%;
}

/* The details box on the right side of the page contains different blocks according to various user interactions*/
.details {
  position: absolute;
  top: 5vh;
  right: 4vw;
  height: 90vh;
  width: 27vw;
  border: 1.5px solid black;
  background-color: rgb(255, 149, 0);
  font-weight: normal;
  font-family: Arial;
  font-size: 35px;
}

/* Below is the style for guild_status block inside details box */
/* There are three other blocks that will be displayed in details box given different user interactions.*/
/* Among these blocks, guild_status is the default display */
.guild_status{
  /* display: none; */
  position: relative;
  top: 2%;
  left:2%;
  height: 90%;
  width: 88%;
  border: solid black;
  background-color: rgb(190, 253, 190);
  font-size: 30px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Below is the style for hero_detail block inside details box */

#hero_name{
  height: 6vh;
  width: 24vw;
  margin: 25px 15px 5px 15px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border: solid black;
  background-color: rgb(190, 253, 190);
}

#hero_param{
  height: 40vh;
  width: 50%;
  margin: 15px 15px 15px 15px;
  overflow: hidden;
  overflow-y: scroll;
  border: solid black;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: rgb(255, 114, 255);
}

#hero_health{
  position: absolute;
  top: 13%;
  left: 55%;
  height: 18vh;
  width: 30%;
  margin: 15px 15px 15px 15px;
  overflow: hidden;
  overflow-y: scroll;
  border: solid black;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(255, 255, 0);
}

#hero_exp{
  position: absolute;
  top: 37.5%;
  left: 55%;
  height: 18vh;
  width: 30%;
  margin: 15px 15px 15px 15px;
  overflow: hidden;
  overflow-y: scroll;
  border: solid black;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(255, 255, 0);
}

#hero_heal{
  height: 10vh;
  width: 90%;
  margin: 15px 15px 15px 15px;
  overflow: hidden;
  overflow-y: scroll;
  border: solid black;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color:rgb(255, 229, 153);
}

#hero_fire{
  height: 10vh;
  width: 90%;
  margin: 15px 15px 15px 15px;
  overflow: hidden;
  overflow-y: scroll;
  border: solid black;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color:rgb(255, 229, 153);
}

/* Below is the style for party_detail block inside details box */
/* .party_detail{
} */

#party_name{
  height: 8vh;
  margin: 15px 15px 15px 15px;
  border: solid black;
  background-color: rgb(190, 253, 190);
}

#hero_list{
  height: 40vh;
  width: 90%;
  margin: 15px 15px 15px 15px;
  overflow: hidden;
  overflow-y: scroll;
  border: solid black;
  font-size: 35px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: rgb(255, 114, 255);
}

#add_hero{
  height: 8vh;
  width: 90%;
  margin: 15px 15px 15px 15px;
  overflow: hidden;
  overflow-y: scroll;
  border: solid black;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color:rgb(255, 229, 153);
}

#remove_hero{
  height: 8vh;
  width: 90%;
  margin: 15px 15px 15px 15px;
  overflow: hidden;
  overflow-y: scroll;
  border: solid black;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color:rgb(255, 229, 153);
}

#disband_hero{
  height: 8vh;
  width: 90%;
  margin: 15px 15px 15px 15px;
  overflow: hidden;
  overflow-y: scroll;
  border: solid black;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color:rgb(255, 229, 153);
}

/* Below is the style for quest_detail block inside details box */
.quest_detail{
  display: none;
}

#quest_name{
  height: 8vh;
  margin: 15px 15px 15px 15px;
  border: solid black;
  background-color: rgb(190, 253, 190);
}

#challenge_list{
  height: 50vh;
  width: 90%;
  margin: 15px 15px 15px 15px;
  overflow: hidden;
  overflow-y: scroll;
  border: solid black;
  font-size: 35px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: rgb(255, 114, 255);
}

#start_quest{
  height: 8vh;
  width: 90%;
  margin: 15px 15px 15px 15px;
  overflow: hidden;
  overflow-y: scroll;
  border: solid black;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color:rgb(255, 229, 153);
}

#sell_quest{
  height: 8vh;
  width: 90%;
  margin: 15px 15px 15px 15px;
  overflow: hidden;
  overflow-y: scroll;
  border: solid black;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color:rgb(255, 229, 153);
}

