<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">

<head>
  <meta charset="utf-8">
  <title>Guild</title>
  <link rel="stylesheet" href="Guild.css" media="screen">
</head>



<body class="body">
  <div class="Guild_title_block">
    <h1 class="GuildManager_text">The Thieves Guild</h1>
  </div>



  <div class="grid-container">
    <div class="grid-item">
      <div class = "grid-title">Heroes</div>
      <button class="grid-button">Hire</button>
      <ul class="scrollable-list">
        <li>John</li>
        <li>Basquiat</li>
        <li>Gandalf</li>
        <li>Conan</li>
        <li>Link 5</li>
        <li>Link 6</li> 
        <li>Link 7</li> 
        <li>Link 8</li>
        <li>Link 9</li>
        <li>Link 10</li>
        <li>Link 11</li>
        <li>Link 13</li>
        <li>Link 13</li>
    </ul>
    </div>
    <div class="grid-item">Parties</div>
    <div class="grid-item">Quests</div>
  </div>
    


  <section class="u-clearfix u-section-3" id="sec-51de">
    <div class="u-clearfix u-sheet u-valign-top u-sheet-1">
      <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <h5 class="u-text u-text-default u-text-1">Heroes</h5>
              <a href="https://nicepage.com/joomla-templates"
                class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-1">HIre</a>
              <div class="u-container-style u-expanded-width u-group u-palette-1-base u-group-1">
                <div class="u-container-layout u-container-layout-2">
                  <a href="https://nicepage.cc"
                    class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-body-color u-text-hover-white u-btn-2">John</a>
                </div>
              </div>
              <div class="u-container-style u-expanded-width u-group u-palette-1-base u-group-2">
                <div class="u-container-layout u-container-layout-3">
                  <a href="https://nicepage.cc"
                    class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-body-color u-text-hover-white u-btn-3">Basquiat</a>
                </div>
              </div>
              <div class="u-container-style u-expanded-width u-group u-palette-1-base u-group-3">
                <div class="u-container-layout u-container-layout-4">
                  <a href="https://nicepage.cc"
                    class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-body-color u-text-hover-white u-btn-4">Gandalf</a>
                </div>
              </div>
              <div class="u-container-style u-expanded-width u-group u-palette-1-base u-group-4">
                <div class="u-container-layout u-container-layout-5">
                  <a href="https://nicepage.cc"
                    class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-body-color u-text-hover-white u-btn-5">Conan</a>
                </div>
              </div>
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-6">
              <h5 class="u-text u-text-default u-text-2">Parties</h5>
              <a href="https://nicepage.com/joomla-templates"
                class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-6">Create</a>
              <div class="u-container-style u-expanded-width u-group u-palette-1-base u-group-5">
                <div class="u-container-layout u-container-layout-7">
                  <a href="https://nicepage.cc"
                    class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-body-color u-text-hover-white u-btn-7">Thieves</a>
                </div>
              </div>
              <div class="u-container-style u-expanded-width u-group u-palette-1-base u-group-6">
                <div class="u-container-layout u-container-layout-8">
                  <a href="https://nicepage.cc"
                    class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-body-color u-text-hover-white u-btn-8">Robbers</a>
                </div>
              </div>
              <div class="u-container-style u-expanded-width u-group u-palette-1-base u-group-7">
                <div class="u-container-layout u-container-layout-9">
                  <a href="https://nicepage.cc"
                    class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-body-color u-text-hover-white u-btn-9">Chill
                    Dudes</a>
                </div>
              </div>
              <div class="u-container-style u-expanded-width u-group u-palette-1-base u-group-8">
                <div class="u-container-layout u-container-layout-10">
                  <a href="https://nicepage.cc"
                    class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-body-color u-text-hover-white u-btn-10">John</a>
                </div>
              </div>
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-11">
              <h5 class="u-text u-text-default u-text-3">Quests</h5>
              <a href="https://nicepage.com/joomla-templates"
                class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-11">Buy</a>
              <div class="u-container-style u-expanded-width u-group u-palette-1-base u-group-9">
                <div class="u-container-layout u-container-layout-12">
                  <a href="https://nicepage.cc"
                    class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-body-color u-text-hover-white u-btn-12">The
                    Woods</a>
                </div>
              </div>
              <div class="u-container-style u-expanded-width u-group u-palette-1-base u-group-10">
                <div class="u-container-layout u-container-layout-13">
                  <a href="https://nicepage.cc"
                    class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-body-color u-text-hover-white u-btn-13">John</a>
                </div>
              </div>
              <div class="u-container-style u-expanded-width u-group u-palette-1-base u-group-11">
                <div class="u-container-layout u-container-layout-14">
                  <a href="https://nicepage.cc"
                    class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-body-color u-text-hover-white u-btn-14">John</a>
                </div>
              </div>
              <div class="u-container-style u-expanded-width u-group u-palette-1-base u-group-12">
                <div class="u-container-layout u-container-layout-15">
                  <a href="https://nicepage.cc"
                    class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-body-color u-text-hover-white u-btn-15">John</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-08ee">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">Sample text. Click to select the Text Element.</p>
    </div>
  </footer>
  <section class="u-backlink u-clearfix u-grey-80">
    <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
      <span>Website Templates</span>
    </a>
    <p class="u-text">
      <span>created with</span>
    </p>
    <a class="u-link" href="" target="_blank">
      <span>Website Builder Software</span>
    </a>.
  </section>

</body>

</html>