.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.hero-subscribe-left {
  position: relative;
  padding: 80px 30px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #f5f7fa;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.hero-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-split {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 46%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.hero-form {
  margin-bottom: 12px;
}

.hero-form-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.hero-form-input {
  width: 240px;
  height: auto;
  margin-right: 9px;
  margin-bottom: 0px;
  padding: 5px 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #d1d6db;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
}

.hero-form-input:hover {
  border-color: #76879d;
}

.hero-form-input:focus {
  border-color: #76879d;
}

.hero-form-input::-webkit-input-placeholder {
  color: rgba(26, 27, 31, 0.8);
}

.hero-form-input:-ms-input-placeholder {
  color: rgba(26, 27, 31, 0.8);
}

.hero-form-input::-ms-input-placeholder {
  color: rgba(26, 27, 31, 0.8);
}

.hero-form-input::placeholder {
  color: rgba(26, 27, 31, 0.8);
}

.button-primary {
  padding: 12px 25px;
  background-color: #1a1b1f;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary:hover {
  background-color: #32343a;
  color: #fff;
}

.button-primary:active {
  background-color: #43464d;
}

.text-link-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.arrow-embed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2px;
}

.shadow-two {
  box-shadow: 0 4px 24px 0 rgba(150, 163, 181, 0.08);
}

.team-slider {
  position: relative;
  padding: 80px 30px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #f5f7fa;
}

.centered-heading {
  display: block;
  margin-bottom: 16px;
  text-align: center;
}

.centered-subheading {
  max-width: 530px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.team-slider-wrapper {
  height: auto;
  margin-top: 50px;
  background-color: transparent;
}

.team-slide-wrapper {
  width: 30%;
  margin-right: 5%;
}

.team-block {
  padding-bottom: 24px;
  background-color: #fff;
}

.team-member-image-two {
  margin-bottom: 18px;
}

.team-block-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.team-member-name-two {
  margin-bottom: 12px;
  font-weight: 600;
}

.team-member-text {
  margin-bottom: 20px;
}

.team-slider-arrow {
  display: none;
}

.team-slider-nav {
  position: static;
  bottom: -60px;
  margin-top: 24px;
  font-size: 10px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.grid {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.image {
  width: 200px;
  height: 250px;
}

.grid-2 {
  width: auto;
  height: 200px;
  margin-bottom: 0px;
  grid-column-gap: 20px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-2 {
  width: 100%;
  height: 20%;
  -o-object-fit: cover;
  object-fit: cover;
}

.list-item {
  width: 964px;
}

.list-item-2 {
  width: 100%;
}

.questlist {
  position: absolute;
  left: 563px;
  top: 229px;
  width: 40%;
  color: #f6f0f0;
  font-size: 20px;
}

.partylist {
  position: absolute;
  top: 240px;
  width: 40%;
  color: #f3e9e9;
  font-size: 20px;
  -o-object-fit: fill;
  object-fit: fill;
}

.features-table {
  position: relative;
  margin-bottom: 22px;
  padding: 0px;
  border-bottom: 1px solid #e4ebf3;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.centered-heading-2 {
  margin-bottom: 16px;
  text-align: center;
}

.centered-subheading-2 {
  max-width: 530px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.comparison-table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.comparison-row-main {
  display: -ms-grid;
  display: grid;
  padding-top: 24px;
  padding-bottom: 24px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-bottom: 1px solid #e4ebf3;
  background-color: #f5f7fa;
}

.comparison-title {
  margin-bottom: 0px;
  margin-left: 24px;
}

.comparison-row {
  display: -ms-grid;
  display: grid;
  padding-top: 24px;
  padding-bottom: 24px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-bottom: 1px solid #e4ebf3;
}

.comparison-negative {
  margin-left: 24px;
  padding-left: 40px;
  background-image: url(https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124ac2f812aadc_plus%20rotated.svg);
  background-position: 0% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.comparison-positive {
  margin-left: 24px;
  padding-left: 40px;
  background-image: url(https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a700a12aad4_check%20circle.svg);
  background-position: 0% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.tab-link-tab-2 {
  height: auto;
}

.slider {
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
  -o-object-fit: cover;
  object-fit: cover;
}

.tabs {
  width: 60%;
}

.container-3 {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.container-4 {
  position: absolute;
  left: -153px;
  top: -307px;
  right: 0%;
  bottom: 0%;
  max-height: 20vh;
  max-width: 20vw;
  -o-object-fit: cover;
  object-fit: cover;
}

.funding {
  position: absolute;
  left: auto;
  top: auto;
  max-height: 20vh;
  max-width: 20vw;
}

.fund {
  width: auto;
  text-align: center;
}

.image-3 {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  float: none;
  text-align: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.text-block {
  position: relative;
  top: auto;
  font-family: 'Great Vibes', cursive;
  color: #e69f1a;
  font-size: 30px;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.grid-3 {
  grid-row-gap: 0px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-4 {
  -ms-grid-columns: 1fr 0.25fr;
  grid-template-columns: 1fr 0.25fr;
}

.brand {
  position: relative;
  left: auto;
  overflow: auto;
  margin-left: 49px;
  padding-left: 69px;
  float: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.container-5 {
  background-color: transparent;
  color: transparent;
}

.nav-link {
  color: #e5dddd;
}

.nav-link.w--current {
  color: #f5eded;
}

.nav-link-2 {
  color: #f7efef;
}

.navbar {
  background-color: rgba(2, 2, 1, 0.86);
}

.grid-5 {
  overflow: auto;
  max-height: none;
  grid-column-gap: 104px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.body-2 {
  background-image: url("https://uploads-ssl.webflow.com/63dd34e66ca34e4b9f4199d7/63dd5930c2eec50db1a30e05_cover.jpg");
  background-position: 0px 67px;
  background-size: 100%;
  background-repeat: repeat-y;
  background-attachment: scroll;
}

.paragraph {
  font-family: Montserrat, sans-serif;
  color: #ffd68a;
  font-size: 1.5em;
  font-weight: 400;
}

.heading {
  font-family: Oswald, sans-serif;
  color: #ce6555;
  font-size: 2em;
}

.dropdown-toggle {
  left: -32px;
  width: 175px;
  height: 50px;
  margin-left: 0px;
  padding-left: 38px;
  color: #af9c9c;
  font-size: 40px;
  -o-object-fit: cover;
  object-fit: cover;
}

.tab-link-tab-1 {
  background-color: #be6d6d;
}

.tab-link-tab-1.w--current {
  background-color: #4a68ca;
}

.tab-link-tab-2-2 {
  background-color: #4a68cb;
}

.tab-link-tab-3 {
  background-color: #4a68cb;
}

.text-block-2 {
  background-color: transparent;
  font-family: 'Changa One', Impact, sans-serif;
  font-size: 1em;
  font-weight: 400;
  -o-object-fit: fill;
  object-fit: fill;
}

.icon {
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  padding-left: 18px;
  font-size: 30px;
}

.grid-6 {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.div-block {
  position: relative;
  top: 123px;
}

.button-2 {
  background-color: transparent;
  color: #bfe8b8;
  font-size: 14px;
  text-shadow: 6px 6px 7px #eae3e3;
}

.text-block-4 {
  position: static;
  padding-left: 43px;
  font-size: 1em;
}

.icon-3 {
  font-size: 0.7em;
}

.dropdown-toggle-2 {
  left: -52px;
  color: #fff;
  font-size: 2em;
}

.button-3 {
  background-color: transparent;
  color: #ff9b9d;
  font-weight: 700;
  text-shadow: 6px 6px 3px rgba(255, 236, 236, 0.8);
}

.paragraph-2 {
  color: #cdf2ff;
}

.slide {
  background-image: url("https://uploads-ssl.webflow.com/63dd34e66ca34e4b9f4199d7/63decebc6bf1b185fd6af2f5_wallpaper-mania.com_High_resolution_wallpaper_background_ID_77700685174.jpg");
  background-position: 0px 0px;
  background-size: cover;
}

.slide-2 {
  background-image: url("https://uploads-ssl.webflow.com/63dd34e66ca34e4b9f4199d7/63decebc03e95f770ee49bdd_wallpaper-mania.com_High_resolution_wallpaper_background_ID_77700117768.jpg");
  background-position: 0px 0px;
  background-size: cover;
}

.tab-link-tab-1-2 {
  background-color: #c8c8c8;
}

.tab-link-tab-1-2.w--current {
  background-color: transparent;
  color: #f3f3f3;
}

.tab-link-tab-2-3 {
  background-color: transparent;
  color: #f5eded;
  font-weight: 400;
}

.tab-link-tab-3-2 {
  background-color: transparent;
  color: #eee2e2;
}

.tabs-2 {
  left: 37px;
  top: 79px;
}

.slider-2 {
  left: -34px;
  top: 18px;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }

  .hero-wrapper {
    margin-bottom: -40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .team-slide-wrapper {
    width: 47%;
    margin-right: 6%;
  }

  .container-2 {
    max-width: 728px;
  }

  .grid-4 {
    position: relative;
    top: 95px;
  }

  .grid-5 {
    grid-column-gap: 44px;
  }

  .body-2 {
    display: block;
    height: 100vh;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    background-position: 50% 50%;
    background-size: cover;
  }

  .button {
    font-size: 1em;
  }

  .button-2 {
    font-size: 1em;
  }

  .dropdown-toggle-2 {
    left: -29px;
  }

  .tabs-2 {
    left: 28px;
  }

  .slider-2 {
    left: -22px;
  }
}

@media screen and (max-width: 767px) {
  .hero-subscribe-left {
    padding: 60px 15px;
  }

  .team-slider {
    padding: 60px 15px;
  }

  .features-table {
    margin-bottom: -26px;
    padding: 0px 0px 60px;
  }

  .tabs {
    width: 60vw;
    margin-right: 0px;
    padding-right: 0px;
  }

  .grid-3 {
    grid-column-gap: 15px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .grid-4 {
    -ms-grid-columns: 0.5fr 0.75fr;
    grid-template-columns: 0.5fr 0.75fr;
  }

  .grid-5 {
    grid-column-gap: 38px;
  }

  .tabs-2 {
    left: 18px;
  }

  .slider-2 {
    left: -13px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }

  .hero-form {
    margin-bottom: 15px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .hero-form-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .hero-form-input {
    width: 100%;
    height: 48px;
    margin-bottom: 10px;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .team-slide-wrapper {
    width: 100%;
    margin-right: 0%;
  }

  .container-2 {
    max-width: none;
  }

  .centered-heading-2 {
    margin-bottom: 24px;
  }

  .comparison-row-main {
    grid-column-gap: 20px;
  }

  .comparison-title {
    margin-left: 10px;
  }

  .comparison-row {
    grid-column-gap: 20px;
  }

  .comparison-negative {
    margin-left: 10px;
    padding-left: 20px;
    background-position: 0px 5px;
    background-size: 14px;
  }

  .comparison-positive {
    margin-left: 10px;
    padding-left: 20px;
    background-position: 0px 4px;
    background-size: 16px;
  }

  .grid-5 {
    grid-column-gap: 7px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .body-2 {
    background-repeat: repeat;
  }

  .dropdown-toggle {
    left: -35px;
    width: auto;
    height: auto;
    margin-left: 0px;
    padding-right: 37px;
    padding-bottom: 12px;
    padding-left: 10px;
  }

  .text-block-2 {
    position: static;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .icon {
    bottom: auto;
    margin-right: 0px;
    padding-left: 0px;
  }

  .button {
    padding-left: 14px;
  }

  .button-2 {
    padding-left: 15px;
  }

  .text-block-3 {
    font-size: 23px;
  }

  .icon-2 {
    position: absolute;
  }

  .text-block-4 {
    font-family: Oswald, sans-serif;
    color: #dcdef1;
    font-size: 2em;
  }

  .icon-3 {
    color: #e9bbbb;
    font-size: 17px;
  }

  .dropdown-toggle-2 {
    position: relative;
    left: -58px;
    display: block;
    font-size: 1em;
  }

  .container-6 {
    position: relative;
    top: -33px;
  }

  .paragraph-2 {
    width: 140px;
  }

  .tabs-2 {
    left: 9px;
    top: 41px;
  }

  .slider-2 {
    left: 6px;
    top: 122px;
    width: 70%;
    height: 63%;
  }
}

#w-node-e040523d-c925-c91d-da58-604e1c320bdd-f94199d8 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-_3e30ac69-f854-9a76-ae62-da3599c60563-f94199d8 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-_99c3ae5e-abda-6ea8-ba06-0d560d2455c8-f94199d8 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-_6ee33b5c-3c48-71ee-deb9-f518a35ec9be-f94199d8 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-_6ee33b5c-3c48-71ee-deb9-f518a35ec9cc-f94199d8 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-_6ee33b5c-3c48-71ee-deb9-f518a35ec9ce-f94199d8 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-f464c27a-6657-b7f0-cd55-02163752cc8e-f94199d8 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-f464c27a-6657-b7f0-cd55-02163752cc9c-f94199d8 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-f464c27a-6657-b7f0-cd55-02163752cc9e-f94199d8 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-_79f6d300-c96c-fd52-1da5-818921a8b43c-f94199d8 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-bb97bd61-e036-f759-3fd8-f22e917474f1-6639e95d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_46a6ce26-088c-f0a0-cf29-2caf60a34c51-6639e95d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_85c1b682-385d-e61d-14c6-800c43ea3a6b-6639e95d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 767px) {
  #w-node-c920977c-e895-676e-2b6b-0e3c1d08f11c-f94199d8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_3e30ac69-f854-9a76-ae62-da3599c60563-f94199d8 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }

  #w-node-_99c3ae5e-abda-6ea8-ba06-0d560d2455c8-f94199d8 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }

  #w-node-_6ee33b5c-3c48-71ee-deb9-f518a35ec9cc-f94199d8 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }

  #w-node-_6ee33b5c-3c48-71ee-deb9-f518a35ec9ce-f94199d8 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }

  #w-node-f464c27a-6657-b7f0-cd55-02163752cc9c-f94199d8 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }

  #w-node-f464c27a-6657-b7f0-cd55-02163752cc9e-f94199d8 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
}

@media screen and (max-width: 479px) {
  #w-node-af4b68af-720e-881d-70f7-723b642e25fa-f94199d8 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_3e30ac69-f854-9a76-ae62-da3599c60563-f94199d8 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }

  #w-node-_99c3ae5e-abda-6ea8-ba06-0d560d2455c8-f94199d8 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }

  #w-node-_6ee33b5c-3c48-71ee-deb9-f518a35ec9c0-f94199d8 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_6ee33b5c-3c48-71ee-deb9-f518a35ec9cc-f94199d8 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }

  #w-node-_6ee33b5c-3c48-71ee-deb9-f518a35ec9ce-f94199d8 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }

  #w-node-f464c27a-6657-b7f0-cd55-02163752cc90-f94199d8 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f464c27a-6657-b7f0-cd55-02163752cc9c-f94199d8 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }

  #w-node-f464c27a-6657-b7f0-cd55-02163752cc9e-f94199d8 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
}