<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Quest</title>
    <link rel="stylesheet" href="Quest.css" media="screen">
    <link rel="stylesheet" href="shared.css">
</head>

<body class="body">
    <div class="for_sale">
        <div class="text vertical_middle" style="padding-left: 10px; font-size: 35px">
            QUESTS FOR SALE
        </div>
    </div>

    <section class="scrollable-list">
        <ul class="sales">
            <div class="sale_grid">
                <div class="sale_item">
                    <div class="text vertical_middle">
                        THE DESERT CHALLENGE: 30 COST: $40
                    </div>
                </div>
                <button class="sale_button text">BUY</button>
            </div>
        </ul>
        <ul class="sales">
            <div class="sale_grid">
                <div class="sale_item">
                    <div class="text vertical_middle">
                        THE DESERT CHALLENGE: 30 COST: $40
                    </div>
                </div>
                <button class="sale_button text">BUY</button>
            </div>
        </ul>
        <ul class="sales">
            <div class="sale_grid">
                <div class="sale_item">
                    <div class="text vertical_middle">
                        THE DESERT CHALLENGE: 30 COST: $40
                    </div>
                </div>
                <button class="sale_button text">BUY</button>
            </div>
        </ul>
        <ul class="sales">
            <div class="sale_grid">
                <div class="sale_item">
                    <div class="text vertical_middle">
                        THE DESERT CHALLENGE: 30 COST: $40
                    </div>
                </div>
                <button class="sale_button text">BUY</button>
            </div>
        </ul>
        <ul class="sales">
            <div class="sale_grid">
                <div class="sale_item">
                    <div class="text vertical_middle">
                        THE DESERT CHALLENGE: 30 COST: $40
                    </div>
                </div>
                <button class="sale_button text">BUY</button>
            </div>
        </ul>
        <ul class="sales">
            <div class="sale_grid">
                <div class="sale_item">
                    <div class="text vertical_middle">
                        THE DESERT CHALLENGE: 30 COST: $40
                    </div>
                </div>
                <button class="sale_button text">BUY</button>
            </div>
        </ul>
        <ul class="sales">
            <div class="sale_grid">
                <div class="sale_item">
                    <div class="text vertical_middle">
                        THE DESERT CHALLENGE: 30 COST: $40
                    </div>
                </div>
                <button class="sale_button text">BUY</button>
            </div>
        </ul>
        <ul class="sales">
            <div class="sale_grid">
                <div class="sale_item">
                    <div class="text vertical_middle">
                        THE DESERT CHALLENGE: 30 COST: $40
                    </div>
                </div>
                <button class="sale_button text">BUY</button>
            </div>
        </ul>
    </section>
</body>
</html>
